body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: #cdd1d7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20em;
  height: 15em;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 50px;
  border-radius: 2em;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.info-container input[type="text"],
.info-container input[type="password"] {
  height: 2em;
  width: 20em;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.info-container label {
  margin-bottom: 5px;
  font-family: "Times New Roman", Times, serif;
}

.button-cont {
  margin-top: 20px;
}
.button-cont button {
  background-color: #262434;
  height: 3em;
  width: 21.5em;
  border-radius: 5px;
  color: white;
}
